  services:
    tomee:
      image: tomee:jre21-webprofile
      container_name: tomee
      ports:
        - "8080:8080"
      volumes:
        - ./target:/usr/local/tomee/webapps
    db:
      image: mysql:8.0
      container_name: mysql_db
      environment:
        MYSQL_ROOT_PASSWORD: root8081
        MYSQL_DATABASE: movies
        MYSQL_USER: nom_alumne
        MYSQL_PASSWORD: secret
      ports:
        - "3307:3306"
      volumes:
        - db_data:/var/lib/mysql

    phpmyadmin:
      image: phpmyadmin:latest
      container_name: phpmyadmin
      environment:
        PMA_HOST: db
        MYSQL_ROOT_PASSWORD: root
      ports:
        - "8081:80"
      depends_on:
        - db
  volumes:
    db_data: